<ngb-carousel class="slider">
  <ng-template ngbSlide *ngFor="let a of results; let i = index">
    <div class="picsum-img-wrapper" align="center">
      <img [src]="a.urlImage" width="1060px" height="400px"/>
    </div>
    <div class="carousel-caption">
      <h1><b><SPAN STYLE="text-shadow: 0.15em 0.15em #2F4F4F">{{ a.title }}</SPAN></b></h1>
      <p>{{ a.description }}</p>
      <h3><b>{{ a.likes }}</b> likes</h3>
    </div>

  </ng-template>
</ngb-carousel>
<body>
  <div class="top-buttons" align="center" mat-button-spacing="10px">
    <button mat-raised-button [routerLink]="['/topNews']">Top Headlines</button>
    <button mat-raised-button [routerLink]="['/news']">General</button>
    <button mat-raised-button [routerLink]="['/news/entertainment']" >Entertainment</button>
    <button mat-raised-button [routerLink]="['/news/business']">Business</button>
    <button mat-raised-button [routerLink]="['/news/technology']">Technology</button>
    <button mat-raised-button style="background-color: black; color: white">Sports</button>
    <br><br>
    <form  [formGroup]="searchForm" (ngSubmit)="submitQuery()">
      <mat-form-field class="search-field">
        <mat-label>Enter your search here</mat-label>
        <input matInput formControlName="searchQuery" />
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
    </form>
  </div>


  <mat-card appearance="outlined" class="example-card" *ngFor="let article of results; let i = index">
  <mat-card-header>
    <!-- <div mat-card-avatar [ngStyle]="{
        'background-image':
          'url(../assets/images/' + article.source.id + '.png)'
      }" class="example-header-image"></div> -->
    <mat-card-title class="title">{{ article.title }}</mat-card-title>
    <mat-card-subtitle>{{ article.sourceName }} - {{ article.author }}</mat-card-subtitle>
    <mat-card-subtitle>Published at: {{ article.publishedAt }}</mat-card-subtitle>
  </mat-card-header>
  <br><br>
  <div align="center">
      <img mat-card-image class="img-article" src="{{ article.urlImage }}" />
  </div>
  
  <br><br>
  <mat-card-content>
    <p>
      {{ article.description }}
    </p>
    <br><br>
  </mat-card-content>
  <mat-card-actions class="action-buttons">
    <div class="card-icons" align="center">
      <button mat-button color="white" (click)="likeNews(i)">
        <div *ngIf="article.liked">
          <mat-icon class="icon-color">thumb_up_alt</mat-icon>
        </div>
        <!-- <div *ngIf="!article.newsId"> -->
        <div *ngIf="!article.liked">

          <mat-icon>thumb_up_alt</mat-icon> 
        </div> {{ article.likes }} Likes
      </button>
      <!-- <button mat-button color="white" (click)="toggleFold(i)"><mat-icon>textsms</mat-icon>Comment</button> -->
      <a mat-button color="white" href="{{ article.url }}" target="_blank"><mat-icon>visibility</mat-icon> More</a>
      <button mat-button color="white" (click)="toggleFold(i)"><mat-icon>share</mat-icon> Share</button>
    </div>
    </mat-card-actions>
    
    <div [@panelState]="folded" *ngIf="article.toggle=='open'">
      <mat-form-field appearance="fill">
        <mat-label>Share news with...</mat-label>
        <mat-select>
          <mat-option *ngFor="let f of this.friends" [value]="f.firstname" (click)="share(f.username, i)">
            {{f.firstname}} (<span>@{{f.username}}</span>)
          </mat-option>
        </mat-select>
      </mat-form-field>
    <!-- <form [formGroup]="shareNews" (ngSubmit)="share(i)"> 
      <mat-form-field>
        <input matInput type="text" formControlName="recipient" class="full-width">
      </mat-form-field>
      <button mat-button type="submit" [disabled]="!this.shareNews.valid">Submit</button>
      
    </form> -->
  </div>
</mat-card>
</body>
