    <!-- <mat-toolbar color="primary">
    <span>Card view demo</span>
    <button mat-button (click)="toggleGridColumns()" fxHide.lt-md>
      <span *ngIf="gridColumns === 4">Three Columns</span>
      <span *ngIf="gridColumns === 3">Four Columns</span>
    </button>
  </mat-toolbar> -->
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let article of allNewsByUser; let i = index">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title class="title">{{ article.title }}</mat-card-title>
            <mat-card-subtitle>{{ article.sourceName }} - {{ article.author }}</mat-card-subtitle>
          </mat-card-header>
          <div align="center">
            <img mat-card-image class="img-article" src="{{ article.urlImage }}" />
            </div>
          <mat-card-content>
            <p>
              {{article.description}}
            </p>
          </mat-card-content>
          <mat-card-actions class="action-buttons">
            <button mat-button color="white" (click)="likeNews(i)">
              <div *ngIf="article.newsId">
                <mat-icon class="icon-color">thumb_up_alt</mat-icon>
              </div>
              <div *ngIf="!article.newsId">
                <mat-icon>thumb_up_alt</mat-icon> 
              </div> {{ article.likes }} Likes
            </button>
            <button mat-button color="white"><mat-icon>share</mat-icon> Share</button>
            <a mat-button color="white" href="{{ article.url }}" target="_blank"><mat-icon>visibility</mat-icon> More</a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>