@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");


.head {
  height: 80px
}
body {
  padding: 20px;
  background-size: cover;
  background-position: center;
}
img {
  height: 200px !important;
}

mat-toolbar {
    justify-content: space-between;
}

.content {
    padding: 16px;
    
}

.content > mat-card {
    margin-bottom: 16px;
    
}

.mat-elevation-z4 {
  height: auto;
  margin-bottom: 20px;
  border-radius: 20px;
}


.example-card{
    margin-top: 4px;
    margin-bottom: 10px;
    height: 400px;
  }
  
  .img-article{
    object-fit: cover;
    width: 100%;
    height: 200px;
    align-items: center;
    max-width: 100%;
    }
  
  .icon-color{
    color: red
  }

  .card-icons {
    margin-top: auto;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    color: grey;
  }

  mat-divider {
    margin-bottom: 10px;
    border-bottom-color: rgba(0, 0, 0, 0.12);
  }
