
  <header>
    
      <div *ngIf="firstname">
        <h2 class="logo" [routerLink]="['/topNews']">WhatsNew</h2>
      </div>
      <div *ngIf="!firstname">
        <h2 class="logo" [routerLink]="['/home']">WhatsNew</h2>
      </div>
      
      <ngx-loading-bar color="white" height="4px"></ngx-loading-bar>
      <nav  *ngIf="firstname" class="navbar navbar-expand-lg navigation">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <li class="nav-item">
              <a class="nav-link" *ngIf="firstname" [routerLink]="['/topNews']">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" *ngIf="firstname" [routerLink]="['/savedNews', username]">Your Saved News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" *ngIf="firstname" [routerLink]="['/friends', username]">Your Friends</a>
            </li>
            <li class="nav-item">

              <a class="nav-link" *ngIf="firstname" [routerLink]="['/users', username]">Hello, {{firstname}}!</a>
              
            </li>
            <div class="e-avatar e-avatar-small e-avatar-circle">
 
              <img src="{{profilePic}}" />
           
            </div>

        </div>
          <br>
        <button *ngIf="firstname" class="btnLogin-popup" (click)="logout()">Logout</button>
      </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>






