<!-- <link rel="stylesheet" href="https://unpkg.com/@clr/ui/clr-ui.min.css" />
<header class="header-6">
  <div class="branding">
      <a href="javascript://" class="nav-link">
          <span class="title">MyFirstNews</span>
      </a>
  </div>
  <div class="header-actions" *ngIf="firstname">
    <a href="javascript://" class="nav-link nav-icon-text">
        <span class="nav-text">Hello, {{firstname}}</span>
        <span class="nav-text" (click)="logout()">Logout</span>

    </a>
</div>

<div class="header-actions" *ngIf="!firstname">
  <a href="javascript://" class="nav-link nav-icon-text">
      <span class="nav-text">Please Login / Register to continue</span>
  </a>
</div>
</header>
<div class="main-container">
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head> -->
<!-- <body> -->

  
  <!-- <header>
    <h2 class="logo">What's New</h2>
      <ngx-loading-bar color="#CD67BA" height="4px"></ngx-loading-bar>
      <nav class="navigation">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <a *ngIf="firstname" [routerLink]="['/news']">Home</a>
        <a *ngIf="firstname" [routerLink]="['/savedNews', username]">Your Saved News</a>
        <a *ngIf="firstname" [routerLink]="['/users', username]">Hello, {{firstname}}!</a>
        <button *ngIf="firstname" class="btnLogin-popup" (click)="logout()">Logout</button>
        <button *ngIf="!firstname" class="btnLogin-popup">Login/Register</button>
      </nav>
    
  </header> -->


  
  <header>
    
      <div *ngIf="firstname">
        <h2 class="logo" [routerLink]="['/news']">WhatsNew</h2>
      </div>
      <div *ngIf="!firstname">
        <h2 class="logo" [routerLink]="['/home']">WhatsNew</h2>
      </div>
      
      <ngx-loading-bar color="white" height="4px"></ngx-loading-bar>
      <nav  *ngIf="firstname" class="navbar navbar-expand-lg navigation">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

          <!-- <button *ngIf="!firstname" class="btnLogin-popup">Login/Register</button> -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <li class="nav-item">
              <a class="nav-link" *ngIf="firstname" [routerLink]="['/news']">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" *ngIf="firstname" [routerLink]="['/savedNews', username]">Your Saved News</a>
            </li>
            <li class="nav-item">

              <a class="nav-link" *ngIf="firstname" [routerLink]="['/users', username]">Hello, {{firstname}}!</a>
              
            </li>
            <div class="e-avatar e-avatar-small e-avatar-circle">
 
              <img src="{{profilePic}}" />
           
            </div>

        </div>
          <br>
        <button *ngIf="firstname" class="btnLogin-popup" (click)="logout()">Logout</button>
      </nav>
  </header>

  <!-- <ngx-loading-bar color="#CD67BA" height="4px"></ngx-loading-bar>
  <nav class="navbar navbar-expand-lg navbar-light bg-light navigation">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </nav> -->

  <main>
    <router-outlet></router-outlet>
  </main>
  

<!-- </body> -->
<!-- </html> -->





