<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>What'sNew</title>
  <link rel="stylesheet" href="home.component.css">
</head>
<body>
  
  
  <div class="wrapper">


    <div class="form-box login">
      <h2>Login</h2>
      <p align="center"><i>Username: test; Password: 1234</i></p>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="input-box">
          <input type="text" formControlName="username" required>
          <label>Username</label>
        </div>
        
        <div class="input-box">
          <input type="password" formControlName="password" required>
          <label>Password</label>
        </div>
        <button type="submit" class="btn">Login</button>
        <div class="login-register">
          <p>Don't have an account?
            <a href="#" class="register-link" [routerLink]="['/register']">Register</a>
          </p>
        </div>
      </form>
    </div>
  </div>  
</body>
</html>