<h1>Create New User</h1>
<form [formGroup]="loginForm" (ngSubmit)="createUser()">
    <clr-input-container>
        <label>Username</label>
        <input clrInput formControlName="username" />
        <clr-control-error>Username is required</clr-control-error>
    </clr-input-container>
    <clr-password-container>
        <label>Password</label>
        <input clrPassword formControlName="password" />
        <clr-control-error>Password is required</clr-control-error>
    </clr-password-container>
    <clr-input-container>
        <label>First Name</label>
        <input clrInput formControlName="firstname" />
        <clr-control-error>First Name is required</clr-control-error>
    </clr-input-container>
    <clr-input-container>
        <label>Last Name</label>
        <input clrInput formControlName="lastname" />
        <clr-control-error>Last Name is required</clr-control-error>
    </clr-input-container>
    <clr-date-container>
        <label>Date of Birth</label>
        <input type="date" clrDate formControlName="dob" />
        <clr-control-error>Date of birth is required</clr-control-error>
    </clr-date-container>
    <clr-input-container>
        <label>Email</label>
        <input clrInput formControlName="email" />
        <clr-control-error>Email is required</clr-control-error>
    </clr-input-container>
    <clr-input-container>
        <label>Phone</label>
        <input clrInput formControlName="phone" />
        <clr-control-error>Phone number is required</clr-control-error>
    </clr-input-container>
    
    <button class="btn btn-primary" type="submit" [disabled]="this.loginForm.invalid">Create User</button>
    <button class="btn" type="button" [routerLink]="['/']">Cancel</button>
</form>